@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #0d1b2a;
  --grey: #a3a3a3;
  --light-grey: #303b47;
  --white: #ffffff;
  --cream: #f6f3ed;
  --gold: #b19353;
  --gold-hover: #c6a764;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --jakarta: "Plus Jakarta Sans" font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-family: var(--jakarta);
  color: var(--white);
  font-weight: normal;
}

html,
body {
  margin: 0;
  width: 100%;
  font-family: var(--jakarta);
  font-size: 62.5%;
}
